[submodule "external/libreultra"]
	path = external/libreultra
	url = https://github.com/N64-tools/libreultra.git
[submodule "external/libdragon"]
	path = external/libdragon
	url = https://github.com/N64-tools/libdragon.git
[submodule "external/fatfs"]
	path = external/fatfs
	url = https://github.com/abbrev/fatfs.git
[submodule "external/n64sdkmod"]
	path = external/n64sdkmod
	url = git@github.com:calgray/n64sdkmod.git
